.share_tip_page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000001;
  background: rgba(0, 0, 0, 0.8);
  img {
    display: block;
    width: 70%;
    margin-left: 20%;
  }
}


.music_com_root {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 0.7rem;
  height: 0.7rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .03rem solid #fff;
  &.animate {
    animation-name: rotate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
  }
  img {
    width: 70%;
    position: relative;
    top: -0.05rem;
    display: block;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.progress_com_root{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  left: 0;
  z-index: 10000;
  .line{
    width: 100%;
    height: 0.06rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius:  .03rem .03rem;
    .cu{
      transition: all 1s;
      height: 100%;
      background: #00b7ee;
      border-radius:  .03rem .03rem;
    }
  }
  .num{
    position: absolute;
    top: -.3rem;
    right: 0.05rem;
    color: #fff;
    letter-spacing: .051rem;
    font-size: 0.2rem;
    font-weight: bold;
  }
}