.template7_page1_theme {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

.template7_page1_theme .img8 {
  position: absolute;
  left: 10%;
  width: 80%;
  top: 6.8rem;
  height: 100%;
  color: #e2e086;
  font-size: 0.34rem;
  text-align: center;
  line-height: 1.6; }

.template7_page1_theme .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.template7_page1_theme .bg img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page1_theme .bg2 {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.template7_page1_theme .bg2 img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page1_theme .img1 {
  position: absolute;
  bottom: 0.9rem;
  left: 0.1rem;
  width: 2.46rem;
  z-index: 102; }

.template7_page1_theme .img2 {
  position: absolute;
  top: 1.9rem;
  left: 0.13rem;
  width: 1.86rem;
  z-index: 102; }

.template7_page1_theme .img3 {
  position: absolute;
  top: 4.9rem;
  right: 0.3rem;
  width: 1.86rem;
  z-index: 102; }

.template7_page1_theme .img4 {
  position: absolute;
  top: 1.9rem;
  left: 50%;
  margin-left: -1.75rem;
  width: 3.5rem;
  z-index: 102; }

.template7_page1_theme .img5 {
  position: absolute;
  top: 1.9rem;
  left: -1rem;
  width: 2rem;
  z-index: 100; }

.template7_page2_theme {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

.template7_page2_theme .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.template7_page2_theme .bg img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page2_theme .bg2 {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.template7_page2_theme .bg2 img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page2_theme .img5 {
  position: absolute;
  top: 1.9rem;
  left: -1rem;
  width: 2rem;
  z-index: 100; }

.template7_page2_theme .img6 {
  position: absolute;
  width: 5rem;
  left: 50%;
  top: 1rem;
  margin-left: -2.5rem;
  pointer-events: none; }

.template7_page2_theme .img7 {
  position: absolute;
  width: 4rem;
  left: 50%;
  top: 1.8rem;
  margin-left: -2rem; }

.template7_page2_theme .img8 {
  position: absolute;
  width: 4rem;
  left: 50%;
  top: 7.2rem;
  margin-left: -2rem;
  color: #e2e086;
  font-size: 0.32rem;
  line-height: 1.6;
  text-align: center; }

.template7_page3_theme {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

.template7_page3_theme .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.template7_page3_theme .bg img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page3_theme .bg2 {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.template7_page3_theme .bg2 img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page3_theme .img5 {
  position: absolute;
  top: 1.9rem;
  left: -1rem;
  width: 2rem;
  z-index: 100; }

.template7_page3_theme .img6 {
  position: absolute;
  width: 5rem;
  left: 50%;
  top: 1rem;
  margin-left: -2.5rem;
  pointer-events: none; }

.template7_page3_theme .img7 {
  position: absolute;
  width: 4rem;
  left: 50%;
  top: 1.8rem;
  margin-left: -2rem; }

.template7_page3_theme .img8 {
  position: absolute;
  width: 4rem;
  left: 50%;
  top: 7.2rem;
  margin-left: -2rem;
  color: #e2e086;
  font-size: 0.32rem;
  line-height: 1.6;
  text-align: center; }

.template7_page4_theme {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

.template7_page4_theme .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.template7_page4_theme .bg img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page4_theme .bg2 {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.template7_page4_theme .bg2 img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page4_theme .img1 {
  position: absolute;
  bottom: 0.9rem;
  left: 0.1rem;
  width: 2.46rem;
  z-index: 102; }

.template7_page4_theme .img2 {
  position: absolute;
  top: 1.9rem;
  left: 0.13rem;
  width: 1.86rem;
  z-index: 102; }

.template7_page4_theme .img3 {
  position: absolute;
  top: 4.9rem;
  right: 0.3rem;
  width: 1.86rem;
  z-index: 102; }

.template7_page4_theme .img4 {
  position: absolute;
  top: 1.9rem;
  left: 50%;
  margin-left: -1.75rem;
  width: 3.5rem;
  z-index: 102; }

.template7_page4_theme .img5 {
  position: absolute;
  top: 1.9rem;
  left: -1rem;
  width: 2rem;
  z-index: 1002; }

.template7_page4_theme .img6 {
  position: absolute;
  width: 5rem;
  left: 50%;
  top: 1rem;
  margin-left: -2.5rem;
  z-index: 1000;
  pointer-events: none; }

.template7_page4_theme .img9 {
  position: absolute;
  width: 2.4rem;
  left: 95%;
  top: 2rem;
  margin-left: -2.5rem;
  z-index: 1000; }

.template7_page4_theme .img10 {
  position: absolute;
  width: 5rem;
  left: 50%;
  top: 7.6rem;
  margin-left: -2.5rem;
  z-index: 1000;
  color: #e2e086;
  font-size: 0.32rem;
  line-height: 1.6;
  text-align: center; }

.template7_page4_theme .img7 {
  position: absolute;
  top: 1.9rem;
  left: 1.8rem;
  width: 2rem;
  height: 2.4rem;
  z-index: 100; }

.template7_page4_theme .img7 img {
  width: 2rem;
  height: 2.4rem; }

.template7_page4_theme .img8 {
  position: absolute;
  top: 4.9rem;
  left: 1.8rem;
  width: 2rem;
  height: 2.4rem;
  z-index: 100; }

.template7_page4_theme .img8 img {
  width: 2rem;
  height: 2.4rem; }

.template7_page5_theme {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

.template7_page5_theme .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.template7_page5_theme .bg img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page5_theme .bg2 {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.template7_page5_theme .bg2 img {
  display: block;
  width: 100%;
  height: 100%; }

.template7_page5_theme .img1 {
  position: absolute;
  bottom: 0.9rem;
  left: 0.1rem;
  width: 2.46rem;
  z-index: 102; }

.template7_page5_theme .img2 {
  position: absolute;
  top: 1.9rem;
  left: 0.13rem;
  width: 1.86rem;
  z-index: 102; }

.template7_page5_theme .img3 {
  position: absolute;
  top: 4.9rem;
  right: 0.3rem;
  width: 1.86rem;
  z-index: 102; }

.template7_page5_theme .img4 {
  position: absolute;
  top: 1.9rem;
  left: 50%;
  margin-left: -1.75rem;
  width: 3.5rem;
  z-index: 102; }

.template7_page5_theme .img5 {
  position: absolute;
  top: 1.9rem;
  left: -1rem;
  width: 2rem;
  z-index: 1002; }

.template7_page5_theme .img6 {
  position: absolute;
  width: 5rem;
  left: 50%;
  top: 1rem;
  margin-left: -2.5rem;
  z-index: 1000;
  pointer-events: none; }

.template7_page5_theme .img9 {
  position: absolute;
  width: 2.4rem;
  left: 95%;
  top: 2rem;
  margin-left: -2.5rem;
  z-index: 1000; }

.template7_page5_theme .img10 {
  position: absolute;
  width: 5rem;
  left: 50%;
  top: 6.6rem;
  margin-left: -2.5rem;
  z-index: 1000;
  color: #e2e086;
  font-size: 0.32rem;
  line-height: 1.6;
  text-align: center; }

.template7_page5_theme .img7 {
  position: absolute;
  top: 1.5rem;
  left: 1.8rem;
  width: 4rem;
  height: 4rem;
  z-index: 100; }

.template7_page5_theme .img7 img {
  width: 4rem;
  height: 4rem; }

.template7_page5_theme .img8 {
  position: absolute;
  top: 4.9rem;
  left: 1.8rem;
  width: 2rem;
  height: 2.4rem;
  z-index: 100; }

.template7_page5_theme .img8 img {
  width: 2rem;
  height: 2.4rem; }

.toBig {
  animation: toBig 0.5s ease both;
  transform-origin: center center; }

@keyframes toBig {
  0% {
    transform: scale(2, 2);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

.toSmall {
  animation: toSmall 0.5s ease both;
  transform-origin: center center; }

.rotate2 {
  animation-name: "rotate2";
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes rotate2 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes toSmall {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

.toLong {
  animation: toLong 0.5s ease both;
  transform-origin: center center; }

@keyframes toLong {
  0% {
    transform: scale(0, 1);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }

.toLeftRoat {
  animation: toLeftRoat 0.5s ease both;
  transform-origin: center center; }

@keyframes toLeftRoat {
  0% {
    transform: translate(-100%, 0) rotate(360deg);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    transform: translate(0, 0) rotate(0deg); } }

.toRightRoat {
  animation: toRightRoat 0.5s ease both;
  transform-origin: center center; }

@keyframes toRightRoat {
  0% {
    transform: translate(100%, 0) rotate(360deg);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    transform: translate(0, 0) rotate(0deg); } }
