.template8_page1_theme{
    position: relative;
 
    width: 100%;
    height: 100%;
    font-weight: bold;
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .who{
        position: absolute;
        top: 20%;
        left: 15%;
        width: 70%;
        z-index: 1000;
        color: #313131;
        font-size: 0.28rem;
    }
    .what{
        position: absolute;
        top: 25%;
        left: 15%;
        width: 70%;
        z-index: 1000;
        color: #313131;
        font-size: 0.28rem;
        text-indent: 2em;
    }
    .where{
        position: absolute;
        text-align: right;
        top: 45%;
        left: 15%;
        width: 70%;
        z-index: 1000;
        color: #313131;
        font-size: 0.28rem;
    }
}