
.template14_page1_theme{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .img1{
    position: absolute;
    bottom: 7%;
    left: 18%;
    width: 64%;
    height: 30%;
    z-index: 0;
    background: rgba(252, 250, 250, 0.87);
  }
  .img2{     position: absolute;
    bottom: 30%;
    left: 35%;
    width: 30%;}
  .img3{
    position: absolute;
    bottom:25%;
    left: 20%;
    font-size: .4rem;
    text-align: center;
    color: #745f7e;
    width: 60%;
    text-align: center;
  }
  .img4{
    position: absolute;
    bottom: 20%;
    font-size: .4rem;
    text-align: center;
    color: #745f7e;
    width:100%;}
  .img5{
    position: absolute;
    bottom: 16%;
    font-size: .3rem;
    text-align: center;
    color: #745f7e;
    width:100%;
  }
  .img6{ position: absolute;
    bottom:10%;
    left: 35%;
    width: 30%;

  }
  .img7{

    position: absolute;
    bottom: 8%;
    left: 19%;
    width: 62%;
    z-index: -1;
    height: 28%;
    border: 1px #745f7e solid;
  }
}
.template14_page2_theme {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .img1 {
    position: absolute;
    bottom: 7%;
    left: 18%;
    width: 64%;
    height: 65%;
    background: rgba(252, 250, 250, 0.87);
  }
  .img2 {
    position: absolute;
    top: 40%;
    left: 34%;
    width: 32%;
    animation-duration: 2s;
  }
  .img3 {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    animation-duration: 2s;
  }
  .img4 {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    font-size: 0.35rem;
    text-align: center;
    color: #7f6a84;
  }
  .img5 {
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
    font-size: 0.5rem;
    text-align: center;
    color: #c9a6c3;
  }
  .img6 {
    position: absolute;
    top: 53%;
    font-size: 0.5rem;
    color: #745f7e;
    left: 0;
    width: 100%;
    animation-duration: 2s;
    text-align: center;
  }
  .img7 {
    position: absolute;
    top: 58%;
    left: 0;
    width: 100%;
    font-size: 0.5rem;
    color: #745f7e;
    text-align: center;
    animation-duration: 2s;
  }
  .img8 {
    position: absolute;
    top: 65%;
    left: 20%;
    width: 60%;
    font-size: 0.35rem;
    color: #745f7e;
    text-align: center;
    animation-duration: 2s;
  }
  .img9 {
    position: absolute;
    top: 75%;
    left: 34%;
    width: 32%;
    color: #745f7e;
    animation-duration: 2s;
  }
  .img10 {
    position: absolute;
    top: 84%;
    left: 20%;
    width: 60%;
    font-size: 0.5rem;
    color: #745f7e;
    text-align: center;
    animation-duration: 2s;
  }
  .img11{
    position: absolute;
    bottom: 8%;
    left:19%;
    width: 62%;
    height: 63%;
    z-index: -1;
    border: 1px #745f7e solid;
  }
}
.template14_page3_theme {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  .bg{
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: -1;
    .bg1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: -1;
    }
    .bg2 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: -1;
    }
  }

  .img1 {
    width: 50%;
    height: 15%;
    position: absolute;
    top: 42%;
    left: 25%;
    background: rgba(252, 250, 250, 0.87);
  }
  .img2 {
    width: 40%;
    position: absolute;
    top: 42%;
    left: 30%;
  }
  .img3 {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 30%;
  }
  .img4 {
    width: 48%;
    height: 13%;
    position: absolute;
    top: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .53rem;
    left: 26%;
    border:1px solid #745f7e;  }
}
.template14_page4_theme {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    tab-size: 0;
    z-index: -1;

    .bg1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: -1;
    }
    .bg2 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 50%;
      height: 50%;
      z-index: -1;
    }
    .bg3 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      z-index: -1;
    }
  }
  
  .img1 {
    position: absolute;
    width: 3rem;
    height:3rem;
    left: 30%;
    border-radius: 50%;
    background: rgba(252, 250, 250, 0.87);
    top: 40%;
  }
  .img2 {
    width: 60%;
    position: absolute;
    top: 10%;
    left: 20%;
  }
  .img3 {
    width: 80%;
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
  }
  .img4 {
    width: 60%;
    position: absolute;
    top: 70%;
    left: 20%;
  }
 
}
.template14_page5_theme {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img1 {
    position: absolute;
    bottom: 7%;
    left: 18%;
    width: 64%;
    height: 65%;
    background: rgba(252, 250, 250, 0.87);
  }
  .img2 {
    position: absolute;
    top: 29%;
    left: 30%;
    width: 40%;
    animation-duration: 2s;
  }
  .img3 {
    position: absolute;
    left: 20%;
    top: 35%;
    width:60%;
    animation-duration: 2s;
  }
  .img4 {
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    font-size: 0.3rem;
    text-align: center;
    color: #7f6a84;
  }
  .img8 {
    position: absolute;
    top: 48%;
    left: 20%;
    width: 60%;
    font-size: 0.35rem;
    color: #745f7e;
    text-align: center;
    animation-duration: 2s;
  }
  .img9{
    position: absolute;
    left: 20%;
    top: 58%;
    width:60%;
    animation-duration: 2s;
  }
  .img10 {
    position: absolute;
    top: 86%;
    left: 20%;
    width: 60%;
    font-size: 0.5rem;
    color: #745f7e;
    text-align: center;
    animation-duration: 2s;
  }
  .img11{
    position: absolute;
    bottom: 8%;
    left:19%;
    width: 62%;
    height: 63%;
    border: 1px #745f7e solid;
  }
}
.toBig {
  -webkit-animation: toBig 2s linear;
  -moz-animation: toBig 2s linear;
  -o-animation: toBig 2s linear;
  animation: toBig 2s linear;
  transform-origin: center center;
}
@keyframes toBig {
  0% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.toSmall {
  -webkit-animation: toSmall 0.5s ease both;
  -moz-animation: toSmall 0.5s ease both;
  -o-animation: toSmall 0.5s ease both;
  animation: toSmall 0.5s ease both;
  transform-origin: center center;
}
@keyframes toSmall {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
.toLong {
  -webkit-animation: toLong 0.5s ease both;
  -moz-animation: toLong 0.5s ease both;
  -o-animation: toLong 0.5s ease both;
  animation: toLong 0.5s ease both;
  transform-origin: center center;
}
@keyframes toLong {
  0% {
    transform: scale(0, 1);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
.toLeftRoat {
  -webkit-animation: toLeftRoat 0.5s ease both;
  -moz-animation: toLeftRoat 0.5s ease both;
  -o-animation: toLeftRoat 0.5s ease both;
  animation: toLeftRoat 0.5s ease both;
  transform-origin: center center;
}
@keyframes toLeftRoat {
  0% {
    transform: translate(-100%, 0) rotate(360deg);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
.toRightRoat {
  -webkit-animation: toRightRoat 0.5s ease both;
  -moz-animation: toRightRoat 0.5s ease both;
  -o-animation: toRightRoat 0.5s ease both;
  animation: toRightRoat 0.5s ease both;
  transform-origin: center center;
}
@keyframes toRightRoat {
  0% {
    transform: translate(100%, 0) rotate(360deg);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.toCircle {
  -webkit-animation: toCircle 5s linear both infinite;
  -moz-animation: toCircle 5s linear both infinite;
  -o-animation: toCircle 5s linear both infinite;
  animation: toCircle 5s linear both infinite;
  transform-origin: center center;
}
@keyframes toCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
