.person_page_root {
  background: #e7e7e7;
  height: 100vh;
  .desc {
    height: 2.9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./assets/bg.png") no-repeat;
    background-size: 100% 100%;
    img {
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 50%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border: 2px solid #fff;
    }
    span {
      color: #fff;
      margin-top: 0.2rem;
      font-size: 0.24rem;
    }
  }
  .item {
    background: #fff;
    margin: 0.14rem 0;
    height: 1.1rem;
    padding: 0 0.26rem 0 0.36rem;
    color: #434343;
    font-size: 0.3rem;
    .icon {
      width: 0.46rem;
      margin-right: 0.42rem;
    }
    .aro {
      align-content:flex-end;
      width: 0.16rem;
    }
  }
}
