.mycard_page_root {
  min-height: 100vh;
  -webkit-overflow-scrolling : touch;
  background: #f8f8f8;
  .nav_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 0.84rem;
    box-shadow:  0 0 5px rgba(0,0,0,.2);
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 0.84rem;
      font-size: 0.32rem;
      position: relative;
      // border-bottom: 1px solid #dbdbdb;
      i {
        position: relative;
        top: -0.1rem;
        left: 0.05rem;
        width: 0.3rem;
        height: 0.3rem;
        color: #fff;
        background: #fd364d;
        font-size: 0.2rem;
        padding-top: 0.04rem;
        line-height: 1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        transition: all .3s;
      }
      &:after{
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        z-index: 100;
        height: 2px;
        background: #fd364d;
        transition: all .3s;
        border-radius: 1px;
       }
      &.active {
        color: #fd364d;
       &:after{
        width: 100%;
       }
      }
    }
  }
  .other_com_root {
    background: #f8f8f8;
    -webkit-overflow-scrolling : touch;
    min-height: 100vh;
    .item {
      background: #fff;
      margin-bottom: 0.3rem;
      box-shadow: 0 0 15px rgba(0,0,0,.2);
      .top {
        height: 0.96rem;
        padding: 0 0.2rem;
        border-bottom: 1px solid #dbdbdb;
        width: 100%;
        .img {
          width: 0.74rem;
          height: 0.74rem;
          margin-right: 0.5rem;
          img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .title {
          padding-top: 0.07rem;
          span {
            color: #fd364d;
            font-size: 0.28rem;
            margin-right: 0.4rem;
          }
          p {
            font-size: 0.26rem;
            color: #b5b5b5;
          }
        }
      }
      .con2 {
        padding: 0 0.2rem;
        height: 2.6rem;
        width: 100%;
  
        .img {
          width:1.6rem;
          height: 1.6rem;
          display: block;
          position: relative;
          img {
            display: block;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
          }
        }
        .text{
          padding:0 0.26rem;
          position: relative;
          top:-.15rem;
        }
        .title{
          font-size: 0.32rem;
        }
        .desc{
            margin-top: 0.2rem;
          font-size: 0.28rem;
          color: #959595;
        }
      }
    }
  }
  .my_com_root{
    background: #f8f8f8;
    height: 100%;
    -webkit-overflow-scrolling : touch;
    .item{
      background: #fff;
      margin-bottom: 0.3rem;
      box-shadow: 0 4px 2px rgba(0,0,0,.01);
    }
    .con2{
      margin: 0 .2rem;
      // padding: 0 .2rem;
      height: 2.68rem;
      border-bottom: 1px dotted #dbdbdb;
      .img{
        width: 2rem;
        height: 2rem;
        margin-right: 0.3rem;
        position: relative;
        img{
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          display: block;
          width: 100%;
          left: 0;
        }
      }
      .desc{
        padding-top: 0.28rem;
        align-self: flex-start;
   
        h4{
          font-size: 0.34rem;
          color: #434343;
          font-weight: normal;
        }
        p{
          color: #959595;
          margin-top: 0.25rem;
          font-size: 0.24rem;
        }
      }
    }
    .bottom{
      padding: 0 .2rem;
      height: 0.76rem;
      font-size: 0.28rem;
      img{
        width: 0.46rem;
        
      }
    }
  }
}
